body {
    background-color: hsl(212, 45%, 89%);
    color: gray;
    font-size: 15px;
    font-family: 'Outfit', 'Sans-Serif';
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 3rem;
    
}

h1 {
    color: black;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
}

.text {
    width: 225px;
    font-weight: 400;
}

.card {
    background-color: hsl(0, 0%, 100%);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
	border-radius: 0.625rem;
	width: 250px;
    height: 400px;
	padding: 1rem;
	margin-bottom: 2rem;
    align-items: center;
    text-align: center;
    display: flex;
	flex-direction: column;
    justify-content: center;
    margin: 4rem;
    border-radius: 0.75rem;
}

img {
    object-fit: cover;
    width: 250px;
    height:250px;
    border-radius: 0.75rem;
 
}

.desc {   
    color: black; 
    font-size: 75 px;
}